@import "helpers/mixins";
@import "base/variables";
@import "../../../app/bower_components/zessx-sass-flexbox/sass-flexbox";

body {
  margin:0;
  padding:0;
}

h1,h2,h3,h4,h5,h6 {
  color: $primary-dark-color;
}

form {
  input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    border: none;
    border-bottom: 1px solid $primary-color;
    outline: none;

    @include border-radius(0);

    @include placeholder {
      color: $primary-dark-color;
      font-weight: bold;
    }

    &:focus {
      border-bottom: 2px solid $primary-color;
    }
  }
}

.btn {
  padding: 10px;
  @include border-radius(0);

  &-primary {
    background-color: $primary-color;
    color: white;
    border: none;
    outline: none;

    &:hover{
      background-color: $primary-dark-color;
      border: none;
      outline: none;
      &:active, &:focus {
        background-color: $primary-dark-color;
        border: none;
        outline: none;
      }
    }
    &:active{
      background-color: $primary-dark-color;
      border: none;
      outline: none;
      &:hover, &:focus {
        background-color: $primary-dark-color;
        border: none;
        outline: none;
      }
    }
    &:focus{
      background-color: $primary-dark-color;
      border: none;
      outline: none;
      &:active, &:hover {
        background-color: $primary-dark-color;
        border: none;
        outline: none;
      }
    }
    &:visited{
      background-color: $primary-dark-color;
      border: none;
      outline: none;
    }
  }
}


.navbar {
  &-primary {
    color: white;
    background-color: $primary-color;
    @include border-radius(0);

    .navbar-header {
      .navbar-toggle{
        .icon-bar {
          background-color: $light-grey;
        }
      }
      a.navbar-brand {
        color: $light-grey;
        &:hover {
          color: white;
        }
      }
    }

    .navbar-collapse {
      ul{
        &.nav {
          li {
            a {
              color: $light-grey;
              font-size: 18px;

              &:focus, &:active, &:visited{

                background: transparent;
                outline: none;
              }

              &:hover {
                color: white;
                background: transparent;
                outline: none;
              }
            }
          }
        }
      }
    }

  }
}
.signIn-container {
  height: calc(100vh - 80px);
  @include display-flex();
  @include flex-direction-row();
  @include justify-content-center();
  @include align-items-center;
}

.userList-container {
  padding:20px 0;

  p {
    i.fa-spin {
      color: $primary-dark-color;
      font-size: 50px;
      margin: 20px 0;
    }
  }

  table {
    td {
      button {
        width: 100%;
      }
    }
  }
}