<div class="signIn-container" ng-controller="SignInCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h2 class="text-center text-uppercase">Please sign in</h2>
                <form name="signInForm"  ng-submit="login()" novalidate>
                    <div>
                        <span class="text-danger" ng-if="signInForm.userEmail.$error.pattern">not valid email!</span>
                        <span class="text-danger" ng-if="signInForm.$submitted && signInForm.userEmail.$error.required">required!</span>
                        <input type="email" name="userEmail" ng-model="loginData.email" ng-pattern="emailFormat" placeholder="E-mail" required>
                    </div>
                    <div>
                        <span class="text-danger" ng-if="signInForm.userPassword.$error.maxlength">max 10 symbols</span>
                        <span class="text-danger" ng-if="signInForm.$submitted && signInForm.userPassword.$error.required">required!</span>
                        <input type="password" name="userPassword" ng-model="loginData.password" ng-maxlength="10" placeholder="Password" required>
                    </div>

                    <input class="btn btn-block btn-primary" type="submit" value="SIGN IN" ng-disabled="signInForm.userEmail.$dirty  && signInForm.userPassword.$dirty && signInForm.$invalid">
                </form>

            </div>
        </div>
    </div>

</div>
